*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    background-color: #f2ebd2;
    position: relative;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.container{
    width: 970px;
}
.clear{
    clear: both;
}
/* CSS SECTION 1 */
.section_1 ul{
    padding: 0;
    margin: 0;
}
.header-top{
    width: 100%;
    float: left;
}
.header-bot{
    width: 100%;
    float: left;
    position: absolute;
    top: 40%;
    margin: 0;
}
.section_1 .container_1 .menu-item{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}
.section_1 .container_1 .nav-link{
    color: #3399ff;
}

.header-bot .menu-item:hover{
    background: #fff;
}
.header-bot .menu-item:hover .nav-link{
    color: #5a6268;
    border-bottom: 2px solid #ff5912;
}
.header-bot .menu-item:hover .dropdown-menu{
    display: block;
    position: absolute;
}


/* CSS SECTION 3 */

.container_3{
    width: 970px;
}

.C3-mid .item-content .pic{
    width: 100%;
    float: left;
    border: 5px solid transparent;
    border-image: url(../images/border/border-1.png) 4 4 4 repeat;
}
.C3-mid .item-content .pic img{
    width: 100%;
}

.C3-mid .item-content .title{
    width: 100%;
    font-weight: 500;
    padding: 10px 0;
    float: left;
}
.C3-mid .item-content .title a{
    color: #0c5460;
}

/* CSS SECTION 5 */
.C5-top{
    border-bottom: 1px solid #4e555b;
}

.C5top-left .sign-mail input{
    font-size: 22px;
    padding: 3px 10px;
    border-radius: 35px;
    width: 35%;
}

.C5top-left .sign-mail label{
    font-size: 40px;
    padding-left: 10px;
    vertical-align: middle;
    color: #4e555b;
}

.C5top-right ul li{
    display: inline-table;
    font-size: 45px;
    padding: 0 20px;
}
.C5-top div{
    padding: 10px 0;
}

.C5-mid{
    padding: 20px 0;
    border-bottom: 1px solid #4e555b;
    font-size: 20px;
    font-weight: 600;
}
.C5-mid-content ul li{
    display: inline-table;
    padding: 0 20px;
}

.C5-bot{
    padding: 20px 0;
}
