*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
	position: relative;
	background-color: #fff;
	background-image: url('../img/bg_fade-secondary.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

li{
	list-style-type: none;
}

.section a{
	text-decoration: none;
}
.container{
	width: 970px;
}
.clear{
	clear: both;
}
/* CSS SECTION 1 */

.section_1{
	background-color: #fff;
	background-image: url('../img/bg_fade.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}
.header-bar{
	background-image: url('../img/head_back.png');
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	z-index: 25;
}
.header-bar .logo{
	padding-right: 0;
	text-align: right;
}
.header-bar .col-lg-10{
	padding-left: 0;
}
.header-top{
	width: 100%;
	float: left;
}
.header-bot{
	width: 100%;
	float: left;
	position: absolute;
	top: 52%;
	margin: 0;

}
.section_1 .container_1 .primary-menu{
	padding-top: 90px;
}
.section_1 .container_1 .menu-dropdown{
	display: none;
}
.section_1 .container_1 .menu-item{
	margin: 0;
	height: 39px;
	float: left;
	line-height: 39px;
	font-size: 13.5pt;
	text-transform: uppercase;
	position: relative;
}
.menu-item-link{
	color: #1b5670;
	text-decoration: none;
	display: block;
	float: left;
	padding: 0 20px;
	height: 39px;
	line-height: 39px;
	position: relative;
}
.menu-dropdown{
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	width: auto;
	height: auto;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #fff;
}
.menu-item-drop{
	height: auto;
	float: none;
	line-height: 20px;
	font-size: 18px;
	text-transform: none;
	padding: 5px 0;
}
.menu-itemdrop-link{
	color: #2aabd2;
	float: none;
	width: 175px;
	white-space: nowrap;
	line-height: 20px;
	height: auto;
	padding: 5px 15px;
	position: static;
	background-color: transparent;
}
.menu-item:hover{
	background: #fff;
	color: #3399ff;
}
.menu-item:hover .menu-item-link{
	color: #3399ff;
}
.menu-item:hover .menu-dropdown{
	display: block;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
}
a{
	text-decoration: none;
	color: #34404b;
}
a:hover{
	color: green;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.section{
	float: left;
	width: 100%;
}
.inner-banner{
	text-align: center;
}
.conten {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}
.inner-banner_conten {
	background: #8550a0;
	text-align: center;
	padding: 40px 60px 50px;
	color: #fff;
	margin-top: -120px;
	box-shadow: 1px 4px 6px #b3b3b3;
	position: relative;
}
.inner-banner_conten h1 {
	margin-top: 0;
	font-size: 56px;
	line-height: 56px;
	margin-bottom: 0;
}
h1 {
	font-size: 68px;
	font-weight: 900;
}
.inner-banner_conten h1 + .sub-heading {
	margin-top: 60px;
}
.inner-banner_conten .sub-heading {
	font-size: 20px;
	line-height: 26px;
}
.font-italic {
	font-style: italic;
}
.click{
	font-weight: 700;
	margin-bottom: 20px;
	padding-top: 35px;
    font-size: 20px;
}

.btn{
	background-color: #fff;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	margin-left: 10px;
}
.block-sizes li{
	margin-bottom: 10px;
	margin-left: 20px;
    margin-top: 10px;
}
.small{
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}
.dropdown{
	float: left;
	margin-right: 90px;
}
.title{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    right: 15px;
    text-align: center;
}
.title > span{
	font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 10px .80px;
    border-bottom: 4px solid #E3C72E;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

.title span:hover {
	border-bottom: 4px solid red;
	color: red;
}
h2{
    padding-top: 66px;
    font-weight: 600;
    font-size: 40px;
    color: red; 

}

.content {
    padding-top: 30px;
    border-top: 1px solid #e7e7e7;
}
.row {
    width: 100%;
    margin: 0 auto;
}
img{
	max-width: 100%;
    height: auto;
}
.box1{
	margin-right: 23px;
    float: left;
    min-height: 1px;
    width: 235px;
    margin-left: 19px;
}
.index-title{
	color: #555;
    font-size: 25px;
    margin-top: 5px;
    text-transform: capitalize;

}
.make-subhead{
	font-size: 0.675em;
    color: #a6a6a6;
    display: block;
    line-height: 1em;
}
.col-md-6{
	padding-right: 25px;
    padding-left: 25px;
}
.section_5{
	padding-top: 100px;
}
.container_5{
	width: 1100px;
}
.C5-top{
	padding: 20px 0;
	border-bottom: 1px solid #4e555b;
	border-top: 1px solid #4e555b;
}
.C5-top ul{
	margin: 0;
}
.C5top-2 ul li{
	display: inline-table;
	font-size: 20px;
	box-sizing: border-box;
	width: calc(100% / 4);
	float: left;
}
.C5top-1{
	font-size: 20px;
	font-weight: 600;
}
.C5top-1 ul li{
	display: inline-table;
	padding: 0 10px;
}

.C5-bot{
	padding: 20px 0;
}
.C5-top ul li:hover{
	color: #ff5912;
}
.C5-top ul li:hover a{
	color: #ff5912;
}
