*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #fff;
    background-image: url('../images/4.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.container{
    width: 970px;
}
.clear{
    clear: both;
}
