* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
    position: relative;
    background-image: url('../img/bg_fade.jpg');
    background-position: top center;
    background-repeat: no-repeat;
	background-color:#fff;
	color: #28313b;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif; 
}

a {
	text-decoration: none;
	color: #34404b;
}

ul {
	list-style-type: none;
}
.section{
	float: left;
	width: 100%;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.section_1 ul{
    padding: 0;
    margin: 0;
}
.section_1{
    background-color: #fff;
    background-image: url('../img/bg_fade.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
.header-bar{
    background-image: url('../img/head_back.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 25;
}
.header-bar .col-lg-2{
    padding-right: 0;
    text-align: right;
}
.header-bar .col-lg-10{
    padding-left: 0;
}
.header-top{
    width: 100%;
    float: left;
}
.header-bot{
    width: 100%;
    float: left;
    position: absolute;
    top: 52%;
    margin: 0;

}
.section_1 .container_1 .menu-item{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: calc(100% / 6);
    float: left;
    box-sizing: border-box;
}
.section_1 .container_1 .nav-link{
    color: #1b5670;
}
.header-bot .menu-primary-menu{
    margin: 0;
}
.header-bot .dropdown-item{

}
.header-bot .dropdown-menu{


}
.header-bot .menu-item:hover{
    background: #fff;
    border-radius: 2.5px;
    border: 1px solid rgba(12, 8, 8, 0.15);
}
.header-bot .menu-item:hover .nav-link{
    color: #3399ff;
}
.header-bot .menu-item:hover .dropdown-menu{
    display: block;
    position: absolute;

}
.header-bot .dropdown-menu-item:hover .dropdown-item{
    color: #99ccff;
}
.section_2 .container .left .new > h3:hover{
	color: red;

}
.container a{
	text-decoration: none;
}
.left{
	background: #fff;
	float: left;
	width: 73%;
	
}
.new{
	margin: 5px 10px 5px 10px;
	padding-bottom: 35px;
	border: 1px solid orange;
	border-radius: 5px; 
	position: relative;
}
.section_2 .container h3{
	text-decoration: none;
	font-weight: bold;
	padding-left: 9px;
}
.new > img{
	float: left;
	padding: 8px;
	margin-right: 5px;
}
.new > p{
	font-size: 16px;
	padding: 20px 0px;
}
.new_1 {
	border: 1px solid orange;
	border-radius: 5px; 
	padding-bottom: 9px;
	text-align: center;
	margin: 5px 10px 5px 10px;
	color: #b12720;
}
.new_3{
	margin-left: 10px;
}
.thu_tu{
	text-align: center;
}
a.PrimaryAction {
    background: #b12720;
}
.ButtonArea a {
    padding: 7px 12px;
    font-size: 0.9em;
    color: white;
    margin: 0 0 0 5px;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    display: inline-block;
    margin-left: 
}
.ButtonArea a:hover {
	background-color: black;
}
.new .ButtonArea{
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    border: none;
    text-align: right;
    white-space: nowrap;
}
.right{
	background: #fff;
	float: right;
	width: 25%;
}
.new_4{
	border-radius: 5px;
	margin: 5px 10px 5px 10px; 
}
.ten{
	background-color: #eeb153;
    border: 1px solid #2f1147;
    border-radius: 5px;
    color: #2f1147;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 6px !important;
    text-align: center;
}
.ten_1{
	margin: 0 0 5px;
	color: #2f1147;
    font-size: 1em;
    padding: 11px 8px 0;
}
.new_5{
	padding-bottom: 10px;
    position: relative;
    margin: 0 0 10px;
    background: white;
    border: 1px solid #eeb153;
    clear: right;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}
.khung{
	margin: 5px 5px 10px;
    border: 1px solid #eeb153;
    background: #f0e5d1;
    border-radius: 5px;
}
.q {
    width: 216px;
    border: none;
    padding: 3px 5px;
    margin: 0;
    background: none;
    color: #2f1147;
    display: inline;
}
.Go {
    border: none;
    background: none;
    width: 30px;
    padding: 2px 5px;
    margin: 0;
    color: #2f1147;
    font-size: 1em;
    font-weight: bold;
    margin-left: 15px;
}
.new_6{
	padding-bottom: 10px;
    position: relative;
    margin: 0 0 10px;
    background: white;
    border: 1px solid #eeb153;
    clear: right;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
}
.ten_2:hover{
	background: #2f1147;
	color: #fff;
}
a{
	padding: 5px 0px 5px 20px;
    display: block;
    color: #b12720;
}
.new_7{
	padding-bottom: 10px;
    position: relative;
    margin: 0 0 10px;
    background: white;
  border: 1px solid #2f1147;
    clear: right;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 10px;
    color: black;
}
h2{

    background-color: #eeb153;
    border-radius: 3px 3px 0 0;
    color: #2f1147;
    padding: 7px;
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}
.amount{
	font-size: 3em;
    text-align: center;
    color: #2f1147;
    margin-bottom: 0;
}
.details{
	font-size: 13px;
	margin: 5px 10px;
}