*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #fff;
    background-image: url('../images/4.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.container{
    width: 970px;
}
.clear{
    clear: both;
}

/* Section 1 */
.section_1 ul{
    padding: 0;
    margin: 0;
}
.section_1{
    background-color: #fff;
    background-image: url('../images/4.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
.header-bar{
    background-image: url('../images/5.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 25;
}
.header-bar .col-xs-6 .col-md-2{
    padding-right: 0;
    text-align: right;
}
.header-bar .col-xs-6 .col-md-10{
    padding-left: 0;
}
.header-top{
    width: 100%;
    float: left;
}
.header-bot{
    width: 100%;
    float: left;
    position: absolute;
    top: 52%;
    margin: 0;

}
.section_1 .container_1 .menu-item{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: calc(100% / 6);
    float: left;
    box-sizing: border-box;
}
.section_1 .container_1 .nav-link{
    color: #1b5670;
}
.header-bot .menu-primary-menu{
    margin: 0;
}
.header-bot .dropdown-item{

}
.header-bot .dropdown-menu{


}
.header-bot .menu-item:hover{
    background: #fff;
    border-radius: 2.5px;
    border: 1px solid rgba(12, 8, 8, 0.15);
}
.header-bot .menu-item:hover .nav-link{
    color: #3399ff;
}
.header-bot .menu-item:hover .dropdown-menu{
    display: block;
    position: absolute;

}
.header-bot .dropdown-menu-item:hover .dropdown-item{
    color: #99ccff;
}


/*Section 2*/
.card {
    display: table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: transform .90s;
    background-color: white;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
}
.card:hover {
    transform: scale(1.1);
}

#show_message1 {
    font-size: 30px;
    color: red;
}
#show_message2 {
    font-size: 30px;
    color: red;
}
#show_message3 {
    font-size: 30px;
    color: red;
}
.form-control{
    border-radius: 10px;
}

.img-thumbnail{
    border-radius: 10px;
}



/* Section 3 */
.button {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 250px;
    height: 50px;
    transition-duration: 0.4s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

}
.button:hover {
    background-color: #6c757d;
    color: white;
}

.container_3{
    text-align: center;
}


/* CSS SECTION 5 */
.C5-top{
    border-bottom: 1px solid #4e555b;
}

.C5top-left .sign-mail input{
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 20px;
    width: 35%;
}

.C5top-left .sign-mail label{
    font-size: 30px;
    padding-left: 10px;
    vertical-align: middle;
    color: #4e555b;
}

.C5top-right ul li{
    display: inline-table;
    font-size: 30px;
    padding: 0 20px;
}
.C5-top div{
    padding: 10px 0;
}

.C5-mid{
    padding: 20px 0;
    border-bottom: 1px solid #4e555b;
    font-size: 20px;
    font-weight: 600;
}
.C5-mid-content ul li{
    display: inline-table;
    padding: 0 20px;
}

.C5-bot{
    padding: 20px 0;
}
