*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #fff;
    background-image: url('../images/bg/bg_fade-secondary.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

.section a{
    text-decoration: none;
}
.container{

}
.clear{
    clear: both;
}
/* CSS SECTION 1 */
.section_1 ul{
    padding: 0;
    margin: 0;
}
.section_1{
    background-color: #fff;
    background-image: url('../images/bg/bg_fade.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
.header-bar{
    background-image: url('../images/bg/head_back.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 25;
}
.header-bar .col-lg-2{
    padding-right: 0;
    text-align: right;
}
.header-bar .col-lg-10{
    padding-left: 0;
}
.header-top{
    width: 100%;
    float: left;
}
.header-bot{
    width: 100%;
    float: left;
    position: absolute;
    top: 52%;
    margin: 0;

}
.section_1 .container_1 .menu-item{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: calc(100% / 6);
    float: left;
    box-sizing: border-box;
}
.section_1 .container_1 .nav-link{
    color: #1b5670;
}
.header-bot .menu-primary-menu{
    margin: 0;
}
.header-bot .dropdown-item{
    font-weight: 600;
}
.header-bot .menu-item:hover{
    background: #fff;
    border-radius: 2.5px;
    border: 1px solid rgba(12, 8, 8, 0.15);
}
.header-bot .menu-item:hover .nav-link{
    color: #3399ff;
    background: #2b2b2b;
}
.header-bot .menu-item:hover .dropdown-menu{
    display: block;
    position: absolute;

}
.header-bot .dropdown-menu-item:hover .dropdown-item{
    color: #3399ff;
    background: #2b2b2b;
}
/* CSS SECTION 2 */
.section_2{
    padding-bottom: 50px;
}
.section_2 .theme-light.slider-wrapper {
    background: unset;
    padding: 0;
}
/* CSS SECTION 3 */

.C3-top{
    padding-bottom: 20px;
}

.C3-mid .item-content .pic{
    width: 100%;
    float: left;
    border: 5px solid transparent;
    border-image: url(../images/border/border-1.png) 4 4 4 repeat;
}
.item .item-content .pic{
    transform: rotate(1.5deg) translateZ(0);
    transition: transform .25s;
}
.item:hover .item-content .pic{
    transform: rotate(-1.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(3n+1) .item-content .pic{
    transform: rotate(2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(5n+2) .item-content .pic{
    transform: rotate(-2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(3n+1):hover .item-content .pic{
    transform: rotate(-2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(5n+2):hover .item-content .pic{
    transform: rotate(2.5deg) translateZ(0);
    transition: transform .25s;
}
.C3-mid .item-content .pic img{
    width: 100%;
}

.C3-mid .item-content .title{
    width: 100%;
    font-weight: 500;
    padding: 10px 0;
    float: left;
}
.C3-mid .item-content .title a{
    color: #0c5460;
}

/* CSS SECTION 5 */
.section_5{
    padding-top: 100px;
}

.C5-top{
    padding: 20px 0;
    border-bottom: 1px solid #4e555b;
    border-top: 1px solid #4e555b;
}
.C5-top ul{
    margin: 0;
}
.C5top-2 ul li{
    display: inline-table;
    font-size: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    width: calc(100% / 4);
    float: left;
}
.C5top-1{
    font-size: 20px;
    font-weight: 600;
}
.C5top-1 ul li{
    display: inline-table;
    padding: 0 20px;
}

.C5-bot{
    padding: 20px 0;
}
.C5-top ul li:hover{
    color: #ff5912;
}
.C5-top ul li:hover a{
    color: #ff5912;
}
