*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
	position: relative;
	background-color: #fff;
	background-image: url('../images/bg/bg_fade-secondary.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

li{
	list-style-type: none;
}

.section a{
	text-decoration: none;
}
.container{
	width: 970px;
}
.clear{
	clear: both;
}
/* CSS SECTION 1 */

.section_1{
	background-color: #fff;
	background-image: url('../images/bg/bg_fade.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}
.header-bar{
	background-image: url('../images/bg/head_back.png');
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	z-index: 25;
}
.header-bar .logo{
	padding-right: 0;
	text-align: right;
}
.header-bar .col-lg-10{
	padding-left: 0;
}
.header-top{
	width: 100%;
	float: left;
}
.header-bot{
	width: 100%;
	float: left;
	position: absolute;
	top: 52%;
	margin: 0;

}
.section_1 .container_1 .primary-menu{
	padding-top: 90px;
}
.section_1 .container_1 .menu-dropdown{
	display: none;
}
.section_1 .container_1 .menu-item{
	margin: 0;
	height: 39px;
	float: left;
	line-height: 39px;
	font-size: 13.5pt;
	text-transform: uppercase;
	position: relative;
}
.menu-item-link{
	color: #1b5670;
	text-decoration: none;
	display: block;
	float: left;
	padding: 0 20px;
	height: 39px;
	line-height: 39px;
	position: relative;
}
.menu-dropdown{
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	width: auto;
	height: auto;
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #fff;
}
.menu-item-drop{
	height: auto;
	float: none;
	line-height: 20px;
	font-size: 18px;
	text-transform: none;
	padding: 5px 0;
}
.menu-itemdrop-link{
	color: #2aabd2;
	float: none;
	width: 175px;
	white-space: nowrap;
	line-height: 20px;
	height: auto;
	padding: 5px 15px;
	position: static;
	background-color: transparent;
}
.menu-item:hover{
	background: #fff;
	color: #3399ff;
}
.menu-item:hover .menu-item-link{
	color: #3399ff;
}
.menu-item:hover .menu-dropdown{
	display: block;
	text-align: left;
	font-size: 18px;
	font-weight: 400;
}

/* CSS SECTION_2*/
.section_2 .inner-banner{
	text-align: center;
}
.section_2 .conten {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	max-width: 1140px;
}
.section_2 .inner-banner_conten {
	background: #8550a0;
	text-align: center;
	padding: 4rem 6rem 5rem;
	color: #fff;
	margin-top: -12rem;
	box-shadow: 1px 4px 6px #b3b3b3;
	position: relative;
}
.section_2 .inner-banner_conten h1 {
	margin-top: 0;
	font-size: 5.6rem;
	line-height: 5.6rem;
	margin-bottom: 0;
}
.section_2 h1 {
	font-size: 6.8rem;
	font-weight: 900;
}
.section_2 .inner-banner_conten h1 + .sub-heading {
	margin-top: 6rem;
}
.section_2 .inner-banner_conten .sub-heading {
	font-size: 2rem;
	line-height: 2.6rem;
}
.section_2 .font-italic {
	font-style: italic;
}
.section_2 .click{
	font-weight: 700;
	margin-bottom: 2rem;
	padding-top: 3.5rem;
    font-size: 20px;
}

.section_2 .btn{
	background-color: #fff;
	font-weight: 700;
	font-size: 20px;
	color: #000000;
	margin-left: 10px;
}
.section_2 .block-sizes li{
	margin-bottom: 10px;
	margin-left: 20px;
    margin-top: 10px;
}
.section_2 .small{
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}
.section_2 .dropdown{
	float: left;
	margin-right: 90px;
}
.section_2 .title{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.5rem;
    right: 1.5rem;
    text-align: center;
}
.section_2 .title > span{
	font-size: 1.5rem;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 1rem .8rem;
    border-bottom: 4px solid #E3C72E;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
}

.section_2 .title span:hover {
	border-bottom: 4px solid red;
	color: red;
}
.section_2 .row{
	margin-top: 111px;
    margin-left: 20px;
    margin-bottom: 50px;
}

/* CSS SECTION 5 */
.section_5{
	padding-top: 100px;
}
.container_5{
	width: 1100px;
}
.C5-top{
	padding: 20px 0;
	border-bottom: 1px solid #4e555b;
	border-top: 1px solid #4e555b;
}
.C5-top ul{
	margin: 0;
}
.C5top-2 ul li{
	display: inline-table;
	font-size: 20px;
	box-sizing: border-box;
	width: calc(100% / 4);
	float: left;
}
.C5top-1{
	font-size: 20px;
	font-weight: 600;
}
.C5top-1 ul li{
	display: inline-table;
	padding: 0 10px;
}

.C5-bot{
	padding: 20px 0;
}
.C5-top ul li:hover{
	color: #ff5912;
}
.C5-top ul li:hover a{
	color: #ff5912;
}
