*{
	padding: 0;
	margin: 0;
}

body{
	font-size: 16px;
	position: relative;
	background-color: #fff;
	background-image: url('../images/bg/bg_fade-secondary.jpg');
	background-position: top center;
	background-repeat: no-repeat;
}

li{
	list-style-type: none;
}

.section a{
	text-decoration: none;
}
.container{
	width: 970px;
}
.clear{
	clear: both;
}



/*-------------------------------------------*/
.section_2f:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 160px;
	margin-top: -20px;
	background-image: url(../images/bg/bg-top.png);
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-x;
}
.section_2f {
	background: url(../images/home/color-background.jpg);
}
.section_2f .container {
	width: 970px;
}
.box_animals {
	width: 970px;
	background: #f4f6f8;
	border: 4px solid transparent;
	border-image: url(../images/bg/border-lexi.png) 4 4 4 repeat;
	background: url(../images/bg/lexikon-bg-tile_580x685.jpg);
	border-image-outset: 3px;
}

.box_animals img{
	width: 100%;
	height: auto;
}
.animals_img{
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
.animals_vid{
	width: 50%;
	float: right;
	box-sizing: border-box;
	padding: 10px;
}
.text_animals {
	font-size: 21px;
	margin-bottom: 30px;
}
.text_animals2 {
	color: #000;
	margin: 20px;
}
.text_animals4{
	padding-top: 20px;
}
.table_animals {
	border-spacing: 0;
	border-top: 1px solid #000;
	padding-top: 20px;
	margin: 0 20px 15px;
}

.table_animals tbody tr td:first-child {
	padding-right: 20px;
}
.table_animals tbody tr td{
	width: 50%;
	padding: 20px 0 0 0;
	vertical-align: top;
}
.table_animals tbody tr td p{
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 18px;
	color: #000;
}
.table_animals tbody tr td p b{
	line-height: 24px;
}




