*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #f2ebd2;
}

li{
    list-style-type: none;
}

.section a{
    text-decoration: none;
}
.container{
    width: 970px;
}
.clear{
    clear: both;
}
/* CSS SECTION 1 */
.section_2:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    margin-top: -20px;
    background-image: url(../images/bg/bg-top.png);
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
}
.container_2{
    padding-top: 50px;
}
/*Section 2*/
.card {
    display: table-cell;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    transition: transform .90s;
    background-color: white;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
    height: 500px;
}
.card:hover {
    transform: scale(1.1);
}

#show_message1 {
    font-size: 30px;
    color: red;
}
#show_message2 {
    font-size: 30px;
    color: red;
}
#show_message3 {
    font-size: 30px;
    color: red;
}
.form-control{
    border-radius: 10px;
}

.img-thumbnail{
    border-radius: 10px;
}



/* Section 3 */
.button {
    margin-top: 50px;
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    color: black;
    width: 250px;
    height: 50px;
    transition-duration: 0.4s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

}
.button:hover {
    background-color: #6c757d;
    color: white;
}

.container_3{
    text-align: center;
}

/* Section 4*/
.container_4{
    text-align: center;
}

.pay{
    display: none;
}
.col {
    display: inline-block;
    background-color: white;
    border: 2px solid black;
    color: black;
    height: 500px;
    transition-duration: 0.4s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    margin: 15px;
}


.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    overflow-y: hidden;
    transition: 1s;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.info{
    background-color: white;
    height: auto;
    position: relative;
    top: 15%;
    width: 500px;
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    color: black;
    transition-duration: 0.4s;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    padding: 30px;
    background-image: url('../images/4.jpg');
}

.info .button{
    width: 20%;
}



