*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.vieclam{
    border-bottom: 1px solid silver;
    display: table-cell;
    transition: transform .90s;
    height: auto;
    width: 100%;
    float: left;
    margin: 10px;
    padding: 10px 10px 10px 0;
    line-height: 25px;
}

.vieclam:hover{
    transform: scale(1.05);
}

.congviec{
    display: none;
}

.nophoso {
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
button{
    color: black;
    background-color: white;
}

button:hover{
    color: white;
    background-color: black;
}

i{
    color: #3bb2d6;
}
span{
    color: #888;
}
img{
    max-width: 100%;
}