
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #f2f2f2;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.section a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/* CSS Header */
.header{
    background: #64b5f6;
    font-weight: 300;
}
.nav-link{
    color: #fff;
}
.menu-item{
    padding: 10px 0;
}
.menu-item-1:hover{
    border-bottom: 3px solid #c82333;
}
.menu-item-1:hover .nav-link{
    color: #4e555b;
}
/* CSS SECTION_3 */
.slider-wraper {
    width: 100vw;
    height: 100vh;
}

.slider--item {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slick-slide {
    position: relative;
    outline: none;
    z-index: 1;
}
.slick-slide.slick-current {
    z-index: 2;
}

.slick-arrow {
    position: absolute;
    width: 150px;
    top: 0;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    text-indent: -9999px;
    z-index: 999;
    cursor: pointer;
}
.slick-arrow:before {
    content: "";
    position: absolute;
    display: block;
    width: 42px;
    height: 42px;
    top: 50%;
    margin-top: -21px;
    -webkit-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -khtml-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -moz-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -ms-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -o-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
}
.slick-arrow:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 160px;
    top: 50%;
    background-color: white;
    -webkit-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -khtml-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -moz-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -ms-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    -o-transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    opacity: 0;
}
.slick-arrow.slick-prev {
    left: 0;
}
.slick-arrow.slick-prev:before {
    border-top: 2px solid white;
    border-left: 2px solid white;
    left: 50px;
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slick-arrow.slick-prev:after {
    left: 300px;
}
.slick-arrow.slick-prev:hover:before {
    left: 120px;
}
.slick-arrow.slick-prev:hover:after {
    left: 113px;
    opacity: 1;
    width: 80px;
}
.slick-arrow.slick-next {
    right: 0;
}
.slick-arrow.slick-next:before {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    right: 50px;
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slick-arrow.slick-next:after {
    right: 300px;
}
.slick-arrow.slick-next:hover:before {
    right: 120px;
}
.slick-arrow.slick-next:hover:after {
    right: 113px;
    opacity: 1;
    width: 80px;
}

.slick-dots {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
}
.slick-dots li.slick-active button {
    background-color: white;
    height: 14px;
    width: 14px;
}
.slick-dots li.slick-active button:hover {
    background-color: white;
}
.slick-dots li button {
    outline: none;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    text-indent: -9999px;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: all, 0.2s, ease-in 1s ease-in-out;
    -khtml-transition: all, 0.2s, ease-in 1s ease-in-out;
    -moz-transition: all, 0.2s, ease-in 1s ease-in-out;
    -ms-transition: all, 0.2s, ease-in 1s ease-in-out;
    -o-transition: all, 0.2s, ease-in 1s ease-in-out;
    transition: all, 0.2s, ease-in 1s ease-in-out;
}
.slick-dots li button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


/* SECTION_4 */
.dang-tin{
    background: #64b5f6;
    border-radius: 3px;
}
.ho-so{
    background: #64b5f6;
    border-radius: 3px;
}
.dang-tin{
    text-align: center;
}
.ho-so{
    text-align: center;
}
.p-icon i{
    color: #fff;
}
.dang-tin p a{
    color: #fff;
    font-weight: 600;
}
.ho-so p a{
    color: #fff;
    font-weight: 600;
}
.dang-tin .p-icon{
    font-size: 35px;
    text-align: center;
}
.ho-so .p-icon{
    font-size: 35px;
    text-align: center;
}
.container_4{
    width: 100%;
    padding-top: 30px;
    margin: 0 auto;
}
.search-widget .widget-item{
    display: inline-flex;
}
.thanh-search{

}
.vieclam{
    border-bottom: 1px solid silver;
    display: table-cell;
    transition: transform .1s;
    height: auto;
    width: 100%;
    float: left;
    margin: 10px;
    padding: 10px 10px 10px 0;
    line-height: 25px;
}
.btn-xemthem{
    padding: 0;
    border-color: #64b5f6;
}

.section_4 .vieclam i{
    color: #3bb2d6;
}
.section_4 .vieclam span{
    color: #888;
}
.section_4 .vieclam img{
    max-width: 100%;
}
.dang-tin p a:hover{
    color: #FF6600;
}
.dang-tin p a:hover .p-icon i{
    color: #FF6600;
}
.ho-so p a:hover{
    color: #FF6600;
}
.congviec{
    white-space: pre-line;
}
.congviec p{
    padding: 0;
}
/* CSS SECTION_5 */
.kenh-viec-lam h1{
    font-size: 25px;
    text-align: center;
}
.kenh-viec-lam{
    padding-top: 100px;
    padding-bottom: 100px;
}
.quan-ly .pic{
    background: url("../images/channel-tmj.png.jpg");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin: 0 5px;
    background-size: cover ;
    background-position: center ;
}
.kvl-info{
    min-height: 250px;
    height: 1px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.job-IT .pic{
    background: url("../images/channel-it.png");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin: 0 5px;
    background-size: cover ;
    background-position: center ;
}
.moi-tot-nghiep .pic{
    background: url("../images/channel-intern.png");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    margin: 0 5px;
    background-size: cover ;
    background-position: center ;
}

/* CSS SECTION_6 */
.footer{
    background-color: #64b5f6;
}
.footer-content .inside-footer{
    color: #fff;
}
.footer-content{
    padding-top: 20px;
}

/* CSS chi-tiet */
.thongtin-cv{
    border: 1px solid rgba(0,185,242,.5);
    padding: 23px;
    background-color: #f7fdff;
    border-radius: 3px;
}
.thongtin-cv div{
    padding: 12px 0;
    border-bottom: 1px solid rgba(206,211,213,.5);
}
.chitiet-vieclam .content{
    white-space: pre-line;
}
.container_4f .row{
    background: #fff;
    border-radius: 10px;
    padding: 30px;
}
.chitiet-vieclam .title{
    font-weight: bold;
}
.thongtin-cv .title{
    color: #949697;
}
.ten-bai-dang{
    width: 100%;
    float: left;
    padding: 30px;
}
.ten-bai-content{
    text-align: center;
}
.ten-bai-content .title{
    font-weight: bold;
    font-size: 20px;
}

/* Slider */

.job-bg-content{
    text-align: center;
    padding: 40px 0;
}
.job-bg-content div{
    display: inline-table;
    padding: 20px;
}
.job-bg-content div a{
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}
.job-bg-content div i{
    color: #fff;
    font-size: 40px;
}
.job-bg-content div div{
    border: 1px solid #6c757d;
    background: #9fcdff;
    border-radius: 10px;
}
.job-bg{
    position: fixed;
}
.btn-tao-hs div{
    box-sizing: border-box;
}
.job-bg-content div div:hover a{
    font-weight: 700;
    color: #ff5912;
    font-size: 18px;
}
.job-bg-content div div:hover i{
    font-weight: 700;
    color: #ff5912;
    font-size: 40px;
}
.job-bg-content div div:hover{
    border: 1px solid #6c757d;
    background: #ffffff;
    border-radius: 10px;
}
.thanh-search .title-search{
    font-weight: 700;
    font-size: 30px;
    color: #17a2b8;
    text-shadow: 3px -1px 6px rgba(131, 110, 186, 0.79);
    text-align: center;
    padding: 20px;
}
.btn-nop-hs:hover{
    background: #fff;
}
.btn-nop-hs:hover .btn-nop-hs a{
    color: #ff5912;
}