*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #f2ebd2;
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

.section a{
    text-decoration: none;
}
.container_1{
    width: 970px;
}
.clear{
    clear: both;
}
div{
    display: block;
}


/*********************/

/*********************/
.section_2:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    margin-top: -20px;
    background-image: url(../images/bg/bg-top.png);
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
}
.section_2{
	padding: 90px 0 0 0;
}

.banner .jumbotron{
	background: #B12720;
    color: white;
}
.banner h1{
	font-weight: 700;
}
.banner .info{
	font-size: 20px;
	font-style: italic;
	text-align: center;
}


.container_3{
	box-sizing: border-box;
}
.fl-row{
	width: 100%; 
}
.fl-row-content-wrap{
	position: relative;
	margin: 0;
	padding: 0;
}
.fl-row-content{
	margin-right: auto;
    margin-left: auto;
}
.cot-group{
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
}
.cot{
	display: inline-block;
	float: left;
	width: 350px;
	margin: 15px;
}
.cot-content{
	display: flex;
	flex-direction: column;
	height: 100%;
	box-orient: vertical;
	box-direction: normal;
}
.callout{
	background: #681147;
	height: auto;
	word-wrap: break-word;
	text-align: left;
	width: 100%;
	height: 100%;
}
.photo{
    margin-bottom: 15px;
	text-align: center;
	display: inline-block;
    line-height: 0;
    position: relative;
}
.photo img{
	padding: -50px;
}
.title{
	height: 100%;
	font-size: 25px;
	color: #fff;
	font-weight: 700;
	padding: 10px;
}
.title a{
	color: #fff;
}
.text-wrap{
	padding: 10px;
}
.text-wrap .text{
    color: #F47E4B;
    font-style: italic;
    font-weight: 700;
}

/***************************/



