*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #f2ebd2;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.section{
	display: block;
}
.container{
	display: block;
    width: 970px;
    height: auto;
}
.clear{
    clear: both;
}
div{
	display: block;
}


/*********************/

/*********************/

.section_2{
	margin: 90px 0 0 0;
}
.banner-internship{
	width: 1110px;
	height: 361px;
}
.banner-internship .banner-content{
	position: relative;
	top: 40%;
}
.banner-internship .banner-content h1{
	text-align: center;
	line-height: 1;
    color: white;
    font-weight: 900;	
}

.section_3{
	height: 100%;
}
.container_3{
	height: 100%;
	box-sizing: border-box;
}
.col-dropdown{
	height: 100%;
	display: block;
}
.dropdown .btn span{
    padding: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
}
.dropdown .btn{
    margin: 20px 0 20px;
    background: #f1f1f1;
    border-color: 1px solid #f1f1f1;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    padding: 20px 40px;
    color: black;
}
.dropdown .btn:hover{
    background-color: #8dc63f;
    color: #fff !important;
}


.header{
    position: relative;
    top: 50%;
}
.container_3{
    height: 100%;
}
.col-dropdown{
    height: 100% auto;
}
.dropdown:hover{
    background-color: #8dc63f;
    color: #fff;
    transition: 
}
.header span{
    padding: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
}
.header i{
    font-size: 22px;
    font-weight: bold;
}
.dropdown{
    margin: 20px 0 20px;
    background: #f1f1f1;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    padding: 20px 40px;
    position: relative;
    transition: all .5s ease;
    height: 100%;
}
.dropdown-menu .item{
	height: 100%;
}
.text{
    color: #5f6062;
    font-size: 16px;
    line-height: 1.8;
}
.list{
    margin: 10px 0 0 0;
    color: #5f6062;
}
.table{
    color: #5f6062;
}
.first-table .table-striped thead tr{
    background-color: #8dc63f;
    border: none;
    border-right: 1px solid #0c0b0a;
    color: white;
    padding: 10px;
    border-bottom: none;
    border-top: none;
}
.button .button-content{
    color: #5f6062;
}
.button .button-dark .btn{
    background-color: #E3C72E;
    color: #fff;
    position: relative;
    margin:  10px 0 20px 20px;
}
.second-table .table-striped thead tr{
    background-color: #8dc63f;
    border: none;
    border-right: 1px solid #0c0b0a;
    color: white;
    padding: 10px;
    border-bottom: none;
    border-top: none;
}
.sidebar{
    background: #f6f6f7;
    max-width: 100%;
    margin: 20px 0 0 0;
}
.sidebar hr{
    border-color: #E3C72E;
}
.sidebar h3{
    color: #E17434;
}
.sidebar h4{
    color: #E17434;
}
.siderbar p{
    font-style: italic;
}


