*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #fff;
    background-image: url('../anh/bg_fade.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.section{
	display: block;
}
.container{
	display: block;
    width: 970px;
    height: auto;
}
.clear{
    clear: both;
}
div{
	display: block;
}

/******************/

.section_2{
    margin: 90px 0 0 0;
    height: auto;
}
.banner-internship{
    width: 1110px;
    height: 361px;
}
.banner-internship .banner-content{
    position: relative;
    top: 40%;
}
.banner-internship .banner-content h1{
    text-align: center;
    line-height: 1;
    color: white;
    font-weight: 900;   
}

.section_3{
    margin: 30px 0 0 0;
    height: auto; 
}
.container_3{
    height: auto;
}
#faq{
    margin: 0px;
    width: 730px;
    border-color: 4px solid #f1f1f1;
}
.panel{
    margin: 20px 0 20px;
    background: #f1f1f1;
    border-color: 4px solid #f1f1f1;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    color: black;
}
.panel-heading .panel-title a{
    text-decoration: none;
}
.panel .panel-heading:hover{
    background-color: #8dc63f;
    transition: 0.4s ease;
    color: #fff !important;
}
.panel-body .text{
    color: #5f6062;
    font-size: 16px;
    line-height: 1.8;
}
.panel-body .list{
    margin: 10px 0 0 0;
    color: #5f6062;
}
.panel-body .table{
    width: 100%;
    color: #5f6062;
}
.panel-body .first-table .table-striped thead tr{
    background-color: #8dc63f;
    border: none;
    border-right: 1px solid #0c0b0a;
    color: white;
    padding: 10px;
    border-bottom: none;
    border-top: none;
}
.button .button-content{
    color: #5f6062;
}
.button .button-dark .btn{
    background-color: #E3C72E;
    color: #fff;
    position: relative;
    margin:  10px 0 20px 20px;
}
.second-table .table-striped thead tr{
    background-color: #8dc63f;
    border: none;
    border-right: 1px solid #0c0b0a;
    color: white;
    padding: 10px;
    border-bottom: none;
    border-top: none;
}

#questionOne{
    height: 71px;
}
#questionOne h5{
    position: relative;
    top: 30%;
    padding: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
}
#answerOne{
    margin-bottom: 10px;
}


#questionTwo{
    height: 71px;
}
#questionTwo h5{
    position: relative;
    top: 30%;
    padding: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
}
#answerTwo{
    margin-bottom: 10px;
}

#questionThree{
    height: 71px;
}
#questionThree h5{
    position: relative;
    top: 30%;
    padding: 0 0 0 20px;
    font-size: 22px;
    font-weight: bold;
}
#answerThree{
    margin-bottom: 10px;
}
.sidebar{
    background: #f6f6f7;
    max-width: 100%;
    margin: 20px 0 0 0;
}
.sidebar hr{
    border-color: #E3C72E;
}
.sidebar h3{
    color: #E17434;
}
.sidebar h4{
    color: #E17434;
}
.siderbar p{
    font-style: italic;
}

/***************************/
