*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #f2ebd2;
}

li{
    list-style-type: none;
}

.section a{
    text-decoration: none;
}
.container_1{
    width: 970px;
}
.clear{
    clear: both;
}
div{
    display: block;
}

/*********************/

.section_2{
	margin: 90px 0 0;
}
.banner .jumbotron{
	background: #B12720;
    color: white;
    text-align: center;
}
.banner h1{
	font-weight: 700;
}
.banner .info{
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

/*********************/

.post-header h1{
    color: #B12720;
    font-size: 55px;
    font-weight: 900;
    line-height: 65px;
}
.post-header p{
    margin-bottom: 15px;
    font-size: 16px;
}
.post-list h3{
	color: #B12720;
	text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
}
.post-list ul li {
	font-size: 16px;
	margin-left: 20px;
}
.post-list p{
	font-size: 16px;
}
.post-footer h3{
	color: #B12720;
	text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
}
.post-footer p{
	font-size: 16px;
}
.post-footer h4{
	color: #B12720;
	font-weight: 600;
    font-size: 16px;
}

/**************************/

.anh1{
	position: relative;
	left: 5%;
	width: 500px;
	height: 230px;
	margin: 20px;
}
.anh1 .img-content{
	height: 230px;
	position: relative;
	margin-left:-15px;
	margin-right: -15px; 
}
.anh1 .img-content .img-text{
	text-align: center;
	height: 230px;
}
.anh1 .img-text span{
	position: relative;
	top: 50%;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
    padding: 0 10px 8px 0;
	border-bottom: 4px solid #B12720;
	letter-spacing: 1px;
	color: #fff;
    font-weight: 600; 
}
.anh2{
	position: relative;
	left: 5%;
	width: 500px;
	height: 230px;
	margin: 20px;
}
.anh2 .img-content{
	height: 230px;
	position: relative;
	margin-left:-15px;
	margin-right: -15px; 
}
.anh2 .img-content .img-text{
	text-align: center;
	height: 230px;
}
.anh2 .img-text span{
	position: relative;
	top: 50%;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
    padding: 0 10px 8px 0;
	border-bottom: 4px solid #F47E4B;
	letter-spacing: 1px;
	color: #fff;
    font-weight: 600; 
}
/**************************/
.container_6{
    background: #F47E4B;
    padding: 60px 15px;
    text-align: center; 
}
.container_6 h1{
	padding: 0 0 10px 0;
	color: #fff;
	font-weight: 700;
}
.container_6 p{
	font-size: 16px;
}
.container_6 .btn{
    padding: 12px 26px;
	background: #681147;
	color: white;
	text-align: center;
	font-size: 15px;
    font-weight: 600;
    text-decoration: none !important;
}
.container_6 .btn:hover{
	color: #681147;
}

/***************************/



