*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    position: relative;
    background-color: #fff;
    background-image: url('../images/bg/bg_fade-secondary.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

li{
    list-style-type: none;
}

.section a{
    text-decoration: none;
}
.container{
    width: 970px;
}
.clear{
    clear: both;
}
/* CSS SECTION 1 */

.section_1{
    background-color: #fff;
    background-image: url('../images/bg/bg_fade.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
.header-bar{
    background-image: url('../images/bg/head_back.png');
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 25;
}
.header-bar .logo{
    padding-right: 0;
    text-align: right;
}
.header-bar .col-lg-10{
    padding-left: 0;
}
.header-top{
    width: 100%;
    float: left;
}
.header-bot{
    width: 100%;
    float: left;
    position: absolute;
    top: 52%;
    margin: 0;

}
.section_1 .container_1 .primary-menu{
    padding-top: 90px;
}
.section_1 .container_1 .menu-dropdown{
    display: none;
}
.section_1 .container_1 .menu-item{
    margin: 0;
    height: 39px;
    float: left;
    line-height: 39px;
    font-size: 13.5pt;
    text-transform: uppercase;
    position: relative;
}
.menu-item-link{
    color: #1b5670;
    text-decoration: none;
    display: block;
    float: left;
    padding: 0 20px;
    height: 39px;
    line-height: 39px;
    position: relative;
}
.menu-dropdown{
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    width: auto;
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #fff;
}
.menu-item-drop{
    height: auto;
    float: none;
    line-height: 20px;
    font-size: 18px;
    text-transform: none;
    padding: 5px 0;
}
.menu-itemdrop-link{
    color: #2aabd2;
    float: none;
    width: 175px;
    white-space: nowrap;
    line-height: 20px;
    height: auto;
    padding: 5px 15px;
    position: static;
    background-color: transparent;
}
.menu-item:hover{
    background: #fff;
    color: #3399ff;
}
.menu-item:hover .menu-item-link{
    color: #3399ff;
}
.menu-item:hover .menu-dropdown{
    display: block;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
/* CSS SECTION 2 */
.section_2{

}
.section_2 .theme-light{
    background: unset;
    padding: 0;

}
.section_2 .slider-wrapper{
    overflow: hidden;
}
/* CSS SECTION 3 */
.section_3{
    background-color: #f2ebd2;
    background-image: url(../images/bg/paws-small_groupedMany.png),url(../images/bg/bg-bottom-paw.png);
    background-repeat: repeat-x,no-repeat;
    background-position: top,6% 100%;
}
.section_3:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 160px;
    margin-top: -20px;
    background-image: url(../images/bg/bg-top.png);
    background-color: transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
}
.C3-top{
    padding-bottom: 20px;
}
.C3-top .fil-search{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px
}
.C3-top-right{
    padding-top: 50px;
}
.C3-mid .item-content .pic{
    width: 100%;
    float: left;
    border: 5px solid transparent;
    border-image: url(../images/border/border-1.png) 4 4 4 repeat;
}
.item .item-content .pic{
    transform: rotate(1.5deg) translateZ(0);
    transition: transform .25s;
}
.item:hover .item-content .pic{
    transform: rotate(-1.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(3n+1) .item-content .pic{
    transform: rotate(2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(5n+2) .item-content .pic{
    transform: rotate(-2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(3n+1):hover .item-content .pic{
    transform: rotate(-2.5deg) translateZ(0);
    transition: transform .25s;
}
.item:nth-child(5n+2):hover .item-content .pic{
    transform: rotate(2.5deg) translateZ(0);
    transition: transform .25s;
}

.C3-mid .item-content .pic img{
    width: 100%;
}

.C3-mid .item-content .title{
    width: 100%;
    font-weight: 500;
    padding: 10px 0;
    float: left;
    word-break: break-word;
}
.C3-mid .item-content .title a{
    color: #0c5460;
}
.C3-bot{
    padding-top: 20px;
}

/***************************************/
.section_4{
    background-color: #f2ebd2;
}


/* CSS SECTION 5 */
.section_5{
    padding-top: 100px;
    background-color: #f2ebd2;
}
.container_5{
    width: 1100px;
}
.C5-top{
    border-bottom: 1px solid #4e555b;
}

.C5top-left .sign-mail input{
    font-size: 20px;
    padding: 3px 10px;
    border-radius: 20px;
    width: 35%;
}

.C5top-left .sign-mail label{
    font-size: 30px;
    padding-left: 10px;
    vertical-align: middle;
    color: #4e555b;
}

.C5top-right ul li{
    display: inline-table;
    font-size: 30px;
    padding: 0 20px;
}
.C5-top div{
    padding: 10px 0;
}

.C5-mid{
    padding: 20px 0;
    border-bottom: 1px solid #4e555b;
    font-size: 20px;
    font-weight: 600;
}
.C5-mid-content ul li{
    display: inline-table;
    padding: 0 20px;
}

.C5-bot{
    padding: 20px 0;
}
.section_5 li:hover a{
    color: #ff5912;
    font-style: italic;
}